.container {
    /* border:1px solid black;s */
    width: 70%;
    margin: 100px auto;
    display: flex;
  }
  
  .nav {
    width: 25%;
    /* margin-right: 20px; */
  }
  
  .nav_item p {
    width: fit-content;
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    color: #333;
    padding: 10px 8px;
  }
  
  .nav_item p:hover {
    width: fit-content;
    cursor: pointer;
    border-bottom: 1px solid #1e8489;
    color: #1e8489;
  }
  
  .active p {
    width: fit-content;
    border-bottom: 1px solid #1e8489;
    color: #1e8489;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    padding: 10px 8px;
    cursor: pointer;
  }
  
  
  