.listProperties {
    width: 100%;
    display: grid!important;
    grid-template-columns: repeat(2,1fr)!important;
    grid-column-gap: 0px!important;
    grid-row-gap: 32px!important;
}

.pagination {
    margin-top: 50px;
    display:flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.pageLink {
    display: block;
    padding: 0.375rem 0.75rem;
    color: #ed5c66;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
    
}

.active, .pageLink:hover {
    background-color: #ed5c66;
    color: white;
}

