.utility {
  padding: 5px;
  text-align: center;
}

.utility p {
  margin: 0;
  font-size: 16px;
}

.utility p span {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
