.listReviews{
    width:100%;
    padding: 15px 50px;  
    
    
}

.container_review{
    
    padding: 10px;
    width: 100%;
}

.moreReview{
    text-align: center;
}

.moreReview button {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 17px;
    color: rgb(19, 19, 225);
}

.moreReview button:hover{
    text-decoration: underline;
}