.container {
    
    max-width: 300px;
    height: 450px;
}


h3{
    font-size: 25px;
    font-weight: 700;
    color: #343434;
    line-height: 0.5;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: #7b8389;
}